{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--pink">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a full service. It is not production code and you might experience problems.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Exceptions: Life chances breakdown
    </h1>

    <form class="form" action="confirmation" method="post">

<!--Page introduction-->
      <div class="govuk-form-group">
        <p class="govuk-body">The Commission accredits and champions government employment initiatives through a specific Exception in its Recruitment Principles - Exception 2: Support for government employment programmes. In these questions, we are
          asking about these.</p>
        <p class="govuk-body">You can find more information about these schemes here: <a href="https://civilservicecommission.independent.gov.uk/recruitment/exceptions/"
            class="govuk-link">https://civilservicecommission.independent.gov.uk/recruitment/exceptions/</a>.</p>
      </div>

<!--Checkboxes-->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              You stated you use one (or more) of the Commission's Life Chances schemes. Please select which one/s you use from the following list:
            </h1>
          </legend>
          <div id="waste-hint" class="govuk-hint">
            Select all that apply.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_aosocialmobilityDWP" name="lif_changesScheme_aosocialmobilityDWP" type="checkbox" value="AO Social Mobility Apprenticeship Programme (sponsored by DWP)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_aosocialmobilityDWP">
                AO Social Mobility Apprenticeship Programme (sponsored by DWP)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_goingforwardExofendersCo" name="lif_changesScheme_goingforwardExofendersCo" type="checkbox" value="Going Forward into Employment - Ex-offenders (sponsored by Cabinet Office/DWP/MoJ)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_goingforwardExofendersCo">
                Going Forward into Employment - Ex-offenders (sponsored by Cabinet Office/DWP/MoJ)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_goingforwardExmilitaryCo" name="lif_changesScheme_goingforwardExmilitaryCo" type="checkbox" value="Going Forward into Employment - Ex-military personnel (sponsored by Cabinet Office)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_goingforwardExmilitaryCo">
                Going Forward into Employment - Ex-military personnel (sponsored by Cabinet Office)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_goingforwardSpousesofvetransCo" name="lif_changesScheme_goingforwardSpousesofvetransCo" type="checkbox" value="Going Forward into Employment - Spouses of Veterans (sponsored by Cabinet Office)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_goingforwardSpousesofvetransCo">
                Going Forward into Employment - Spouses of Veterans (sponsored by Cabinet Office)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_careleaversDFE" name="lif_changesScheme_careleaversDFE" type="checkbox" value="Care Leavers Programme (sponsored by DfE)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_careleaversDFE">
                Care Leavers Programme (sponsored by DfE)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_apprenticePHE" name="lif_changesScheme_apprenticePHE" type="checkbox" value="Apprentice and Work Trial Opportunities for Young Adults from Barnardo's (sponsored by PHE)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_apprenticePHE">
                Apprentice and Work Trial Opportunities for Young Adults from Barnardo's (sponsored by PHE)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_workfitDEFRA" name="lif_changesScheme_workfitDEFRA" type="checkbox" value="WorkFit (sponsored by Defra)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_workfitDEFRA">
                WorkFit (sponsored by Defra)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_movementtoworkHMRC" name="lif_changesScheme_movementtoworkHMRC" type="checkbox" value="Movement to Work (sponsored by HMRC)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_movementtoworkHMRC">
                Movement to Work (sponsored by HMRC)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_supportforcareWelshGov" name="lif_changesScheme_supportforcareWelshGov" type="checkbox" value="Support for Care Leavers (sponsored by the Welsh Government)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_supportforcareWelshGov">
                Support for Care Leavers (sponsored by the Welsh Government)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_schoolapprenticeCH" name="lif_changesScheme_schoolapprenticeCH" type="checkbox" value="School Apprenticeship Programme (sponsored by Companies House)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_schoolapprenticeCH">
                School Apprenticeship Programme (sponsored by Companies House)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_workexperienceCH" name="lif_changesScheme_workexperienceCH" type="checkbox" value="Work Experience to Work Ready (sponsored by Companies House)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_workexperienceCH">
                Work Experience to Work Ready (sponsored by Companies House)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_modernapprenticeSCTS" name="lif_changesScheme_modernapprenticeSCTS" type="checkbox" value="Modern Apprentice Programme (sponsored by Scottish Courts and Tribunals Service)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_modernapprenticeSCTS">
                Modern Apprentice Programme (sponsored by Scottish Courts and Tribunals Service)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_autismspectrumHMRC" name="lif_changesScheme_autismspectrumHMRC" type="checkbox" value="Autism Spectrum Employment (sponsored by HMRC)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_autismspectrumHMRC">
                Autism Spectrum Employment (sponsored by HMRC)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_downssyndromePHE" name="lif_changesScheme_downssyndromePHE" type="checkbox" value="Individuals with Down’s Syndrome (Workforce) (sponsored by PHE)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_downssyndromePHE">
                Individuals with Down’s Syndrome (Workforce) (sponsored by PHE)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_supportedinternshipsDFE" name="lif_changesScheme_supportedinternshipsDFE" type="checkbox" value="Supported Internships (Young People with complex Educational Needs) (sponsored by DfE)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_supportedinternshipsDFE">
                Supported Internships (Young People with complex Educational Needs) (sponsored by DfE)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_goingforwardPrisonleaversCO" name="lif_changesScheme_goingforwardPrisonleaversCO" type="checkbox" value="Going Forward into Employment (Prison Leavers - Probation) (sponsored by Cabinet Office)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_goingforwardPrisonleaversCO">
                Going Forward into Employment (Prison Leavers - Probation) (sponsored by Cabinet Office)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_springboardHMRC" name="lif_changesScheme_springboardHMRC" type="checkbox" value="HMRC Springboard (sponsored by HMRC)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_springboardHMRC">
                HMRC Springboard (sponsored by HMRC)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_kickstartDWP" name="lif_changesScheme_kickstartDWP" type="checkbox" value="DWP Kickstart">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_kickstartDWP">
                DWP Kickstart
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_neurodiversityONS" name="lif_changesScheme_neurodiversityONS" type="checkbox" value="Neuro Diversity (sponsored by ONS)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_neurodiversityONS">
                Neuro Diversity (sponsored by ONS)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_homelessnessDWP" name="lif_changesScheme_homelessnessDWP" type="checkbox" value="Homelessness (sponsored by DWP)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_homelessnessDWP">
                Homelessness (sponsored by DWP)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_careleaversGFIE" name="lif_changesScheme_careleaversGFIE" type="checkbox" value="Care Leavers (sponsored by GFiE)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_careleaversGFIE">
                Care Leavers (sponsored by GFiE)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_traineeshipsDFE" name="lif_changesScheme_traineeshipsDFE" type="checkbox" value="Traineeships (sponsored by DfE )">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_traineeshipsDFE">
                Traineeships (sponsored by DfE )
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_kickstartCSHR" name="lif_changesScheme_kickstartCSHR" type="checkbox" value="Kick Start (National) (sponsored by CSHR)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_kickstartCSHR">
                Kick Start (National) (sponsored by CSHR)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_fairstartScottishGov" name="lif_changesScheme_fairstartScottishGov" type="checkbox" value="Fair Start Scotland (sponsored by The Scottish Government)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_fairstartScottishGov">
                Fair Start Scotland (sponsored by The Scottish Government)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_apprenticeCPS" name="lif_changesScheme_apprenticeCPS" type="checkbox" value="CPS Apprenticeships">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_apprenticeCPS">
                CPS Apprenticeships
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_socialmobilityBEIS" name="lif_changesScheme_socialmobilityBEIS" type="checkbox" value="Social Mobility Apprenticeship Programme (sponsored by BEIS)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_socialmobilityBEIS">
                Social Mobility Apprenticeship Programme (sponsored by BEIS)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_autismhiringMOD" name="lif_changesScheme_autismhiringMOD" type="checkbox" value="Autistic Hiring Programme (Ministry of Defence)">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_autismhiringMOD">
                Autistic Hiring Programme (Ministry of Defence)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="lif_changesScheme_other" name="lif_changesScheme_other" type="checkbox" value="Other (please specify):">
              <label class="govuk-label govuk-checkboxes__label" for="lif_changesScheme_other">
                Other (please specify)
              </label>
            </div>
            <div class="govuk-form-group">
              <input class="govuk-input govuk-!-width-one-half" id="lif_changesScheme_othervalue" name="lif_changesScheme_othervalue" type="text">
            </div>
          </div>
        </fieldset>
      </div>

<!--Question - Text Area-->
      <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="more-detail">
            Please provide contact details of the scheme lead/s (i.e. name and email address)
          </label>
        <textarea class="govuk-textarea" id="lif_changesScheme_contactDetails" name="lif_changesScheme_contactDetails" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>
{% endblock %}
