{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--pink">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a full service. It is not production code and you might experience problems.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      Exceptions breakdown
    </h1>

    <form class="form" action="breaches" method="post">

<!--Page intro-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          These questions ask for a grade breakdown of the number of individuals recruited using an Exception to the recruitment principles.
      </div>

      <div class="govuk-inset-text">
        In question 9, you reported <strong>XX</strong> people were appointed by exception.
        <br /><br />
        Please provide a breakdown of these <strong>XX</strong> people here by their grade.
        <br /><br />
        The total of this question should equal <strong>XX</strong>.
      </div>

<!--Question Exception 1: Temporary appointments-->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="event-name">
          Exception 1: Temporary appointments
        </label>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Temporary appointments at SCS 2 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_temporary_scs2" name="exceptions_temporary_scs2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Temporary appointments at SCS 1 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_temporary_scs1" name="exceptions_temporary_scs1" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Temporary appointments at Grade 6 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_temporary_grade6" name="exceptions_temporary_grade6" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Temporary appointments at Grade 7 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_temporary_grade7" name="exceptions_temporary_grade7" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Temporary appointments at SEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_temporary_seo" name="exceptions_temporary_seo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Temporary appointments at HEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_temporary_heo" name="exceptions_temporary_heo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Temporary appointments at EO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_temporary_eo" name="exceptions_temporary_eo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Temporary appointments at AO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_temporary_ao" name="exceptions_temporary_ao" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Temporary appointments at AA (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_temporary_aa" name="exceptions_temporary_aa" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="event-name">
            Total
          </label>
          <input class="govuk-input govuk-input--width-3" id="exceptions_temporary_total" name="exceptions_temporary_total" type="text">
        </div>

      </div>

<!--Question Exception 2: Support for government employment programmes-->
      <div class="govuk-form-group">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="event-name">
            Exception 2: Support for government employment programmes
          </label>
          <p>Only appointments using one of the schemes on the following website should be included in this figure:</p>
          <p class="govuk-body">Jump to <a href="https://civilservicecommission.independent.gov.uk/recruitment/exceptions/" class="govuk-link">https://civilservicecommission.independent.gov.uk/recruitment/exceptions/</a>.</p>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Support for government employment programmes at SCS 2 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_programmes_scs2" name="exceptions_programmes_scs2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Support for government employment programmes at SCS 1 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_programmes_scs1" name="exceptions_programmes_scs1" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Support for government employment programmes at Grade 6 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_programmes_grade6" name="exceptions_programmes_grade6" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Support for government employment programmes at Grade 7 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_programmes_grade7" name="exceptions_programmes_grade7" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Support for government employment programmes at SEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_programmes_seo" name="exceptions_programmes_seo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Support for government employment programmes at HEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_programmes_heo" name="exceptions_programmes_heo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Support for government employment programmes at EO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_programmes_eo" name="exceptions_programmes_eo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Support for government employment programmes at AO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_programmes_ao" name="exceptions_programmes_ao" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Support for government employment programmes at AA (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_programmes_aa" name="exceptions_programmes_aa" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="event-name">
            Total
          </label>
          <input class="govuk-input govuk-input--width-3" id="exceptions_programmes_total" name="exceptions_programmes_total" type="text">
        </div>

      </div>

<!--Question Exception 3: Secondments-->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="event-name">
          Exception 3: Secondments
        </label>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Secondments at SCS 2 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_secondment_scs2" name="exceptions_secondment_scs2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Secondments at SCS 1 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_secondment_scs1" name="exceptions_secondment_scs1" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Secondments at Grade 6 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_secondment_grade6" name="exceptions_secondment_grade6" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Secondments at Grade 7 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_secondment_grade7" name="exceptions_secondment_grade7" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Secondments at SEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_secondment_seo" name="exceptions_secondment_seo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Secondments at HEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_secondment_heo" name="exceptions_secondment_heo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Secondments at EO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_secondment_eo" name="exceptions_secondment_eo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Secondments at AO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_secondment_ao" name="exceptions_secondment_ao" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Secondments at AA (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_secondment_aa" name="exceptions_secondment_aa" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="event-name">
            Total
          </label>
          <input class="govuk-input govuk-input--width-3" id="exceptions_secondment_aa" name="exceptions_secondment_aa" type="text">
        </div>

      </div>

<!--Question Exception 4: Highly skills specialists-->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="event-name">
          Exception 4: Highly skills specialists
        </label>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Highly skills specialists at SCS 2 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_specialist_scs2" name="exceptions_specialist_scs2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Highly skills specialistsHighly skills specialists at SCS 1 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_specialist_scs1" name="exceptions_specialist_scs1" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Highly skills specialists at Grade 6 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_specialist_grade6" name="exceptions_specialist_grade6" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Highly skills specialists at Grade 7 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_specialist_grade7" name="exceptions_specialist_grade7" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Highly skills specialists at SEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_specialist_seo" name="exceptions_specialist_seo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Highly skills specialists at HEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_specialist_heo" name="exceptions_specialist_heo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Highly skills specialists at EO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_specialist_eo" name="exceptions_specialist_eo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Highly skills specialists at AO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_specialist_ao" name="exceptions_specialist_ao" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Highly skills specialists at AA (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_specialist_aa" name="exceptions_specialist_aa" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="event-name">
            Total
          </label>
          <input class="govuk-input govuk-input--width-3" id="exceptions_specialist_total" name="exceptions_specialist_total" type="text">
        </div>

      </div>

<!--Question Exception 5: Former civil servants-->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="event-name">
          Exception 3: Former civil servants
        </label>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Former civil servants at SCS 2 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_former_scs2" name="exceptions_former_scs2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Former civil servants at SCS 1 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_former_scs1" name="exceptions_former_scs1" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Former civil servants at Grade 6 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_former_grade6" name="exceptions_former_grade6" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Former civil servants at Grade 7 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_former_grade7" name="exceptions_former_grade7" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Former civil servants at SEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_former_seo" name="exceptions_former_seo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Former civil servants at HEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_former_heo" name="exceptions_former_heo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Former civil servants at EO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_former_eo" name="exceptions_former_eo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Former civil servants at AO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_former_ao" name="exceptions_former_ao" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Former civil servants at AA (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_former_aa" name="exceptions_former_aa" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="event-name">
            Total
          </label>
          <input class="govuk-input govuk-input--width-3" id="exceptions_former_total" name="exceptions_former_total" type="text">
        </div>

      </div>

<!--Question Exception 6: Interchange with the Northern Ireland Civil Service-->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="event-name">
          Exception 6: Interchange with the Northern Ireland Civil Service
        </label>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Interchange with the Northern Ireland Civil Service at SCS 2 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_interchange_scs2" name="exceptions_interchange_scs2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Interchange with the Northern Ireland Civil Service at SCS 1 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_interchange_scs1" name="exceptions_interchange_scs1" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Interchange with the Northern Ireland Civil Service at Grade 6 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_interchange_grade6" name="exceptions_interchange_grade6" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Interchange with the Northern Ireland Civil Service at Grade 7 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_interchange_grade7" name="exceptions_interchange_grade7" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Interchange with the Northern Ireland Civil Service at SEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_interchange_seo" name="exceptions_interchange_seo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Interchange with the Northern Ireland Civil Service at HEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_interchange_heo" name="exceptions_interchange_heo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Interchange with the Northern Ireland Civil Service at EO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_interchange_eo" name="exceptions_interchange_eo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Interchange with the Northern Ireland Civil Service at AO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_interchange_ao" name="exceptions_interchange_ao" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Interchange with the Northern Ireland Civil Service at AA (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_interchange_aa" name="exceptions_interchange_aa" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="event-name">
            Total
          </label>
          <input class="govuk-input govuk-input--width-3" id="exceptions_interchange_total" name="exceptions_interchange_total" type="text">
        </div>

      </div>

<!--Question Exception 7: Transfers of staff from other public bodies-->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="event-name">
          Exception 7: Transfers of staff from other public bodies
        </label>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of staff from other public bodies at SCS 2 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_transfer_scs2" name="exceptions_transfer_scs2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of staff from other public bodies at SCS 1 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_transfer_scs1" name="exceptions_transfer_scs1" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of staff from other public bodies at Grade 6 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_transfer_grade6" name="exceptions_transfer_grade6" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of staff from other public bodies at Grade 7 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_transfer_grade7" name="exceptions_transfer_grade7" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of staff from other public bodies at SEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_transfer_seo" name="exceptions_transfer_seo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of staff from other public bodies at HEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_transfer_heo" name="exceptions_transfer_heo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of staff from other public bodies at EO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_transfer_eo" name="exceptions_transfer_eo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of staff from other public bodies at AO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_transfer_ao" name="exceptions_transfer_ao" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of staff from other public bodies at AA (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_transfer_aa" name="exceptions_transfer_aa" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="event-name">
            Total
          </label>
          <input class="govuk-input govuk-input--width-3" id="exceptions_transfer_total" name="exceptions_transfer_total" type="text">
        </div>

      </div>

<!--Question Exception 8: Transfers of organisations into the Civil Service – non-TUPE-->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="event-name">
          Exception 8: Transfers of organisations into the Civil Service – non-TUPE
        </label>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – non-TUPE at SCS 2 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_nonTupe_scs2" name="exceptions_nonTupe_scs2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – non-TUPE at SCS 1 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_nonTupe_scs1" name="exceptions_nonTupe_scs1" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – non-TUPE at Grade 6 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_nonTupe_grade6" name="exceptions_nonTupe_grade6" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – non-TUPE at Grade 7 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_nonTupe_grade7" name="exceptions_nonTupe_grade7" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – non-TUPE at SEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_nonTupe_seo" name="exceptions_nonTupe_seo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – non-TUPE at HEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_nonTupe_heo" name="exceptions_nonTupe_heo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – non-TUPE at EO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_nonTupe_eo" name="exceptions_nonTupe_eo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – non-TUPE at AO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_nonTupe_ao" name="exceptions_nonTupe_ao" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – non-TUPE at AA (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_nonTupe_aa" name="exceptions_nonTupe_aa" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="event-name">
            Total
          </label>
          <input class="govuk-input govuk-input--width-3" id="exceptions_nonTupe_total" name="exceptions_nonTupe_total" type="text">
        </div>

      </div>

<!--Question Exception 9: Transfers of organisations into the Civil Service – TUPE-->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="event-name">
          Exception 9: Transfers of organisations into the Civil Service – TUPE
        </label>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – TUPE at SCS 2 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_tupe_scs2" name="exceptions_tupe_scs2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – TUPE at SCS 1 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_tupe_scs1" name="exceptions_tupe_scs1" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – TUPE at Grade 6 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_tupe_grade6" name="exceptions_tupe_grade6" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – TUPE at Grade 7 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_tupe_grade7" name="exceptions_tupe_grade7" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – TUPE at SEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_tupe_seo" name="exceptions_tupe_seo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – TUPE at HEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_tupe_heo" name="exceptions_tupe_heo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – TUPE at EO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_tupe_eo" name="exceptions_tupe_eo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – TUPE at AO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_tupe_ao" name="exceptions_tupe_ao" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – TUPE at AA (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_tupe_aa" name="exceptions_tupe_aa" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="event-name">
            Total
          </label>
          <input class="govuk-input govuk-input--width-3" id="exceptions_tupe_total" name="exceptions_tupe_total" type="text">
        </div>

      </div>

<!--Question Exception 10: Conversion to permanency: administrative & industrial grades-->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="event-name">
          Exception 10: Conversion to permanency: administrative & industrial grades
        </label>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – TUPE at EO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_conversion_eo" name="exceptions_conversion_eo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – TUPE at AO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_conversion_ao" name="exceptions_conversion_ao" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Transfers of organisations into the Civil Service – TUPE at AA (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="exceptions_conversion_aa" name="exceptions_conversion_aa" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="event-name">
            Total
          </label>
          <input class="govuk-input govuk-input--width-3" id="exceptions_conversion_total" name="exceptions_conversion_total" type="text">
        </div>

      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
