{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--pink">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a full service. It is not production code and you might experience problems.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      Fair and open
    </h1>

    <form class="form" action="fair-and-open-gender" method="post">

<!--Page intro-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          This question asks for a breakdown, by grade, of the number of individuals externally recruited - fair and open only.
          <br /><br />
          This total should be the same as the figure for fair and open recruits in question 9.
        </label>
      </div>

      <div class="govuk-inset-text">
        In question 9, you reported <strong>XX</strong> people recruited through fair and open competition.
        <br /><br />
        Please provide a grade breakdown of these <strong>XX</strong> people here.
        <br /><br />
        The total of this question should equal <strong>XX</strong>.
      </div>

<!--Question-->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="event-name">
          Total number of individuals recruited externally (fair and open) between 01 July 2022 to 30 September 2022. *
        </label>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Total posts at SCS 2 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Total posts at SCS 1 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Total posts at Grade 6 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Total posts at Grade 7 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Total posts at SEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Total posts at HEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Total posts at EO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Total posts at AO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Total posts at AA (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="event-name">
            Total
          </label>
          <input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text">
        </div>

      </div>

<!--Navigation-->
      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
