{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--pink">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a full service. It is not production code and you might experience problems.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      Fair and open ethnicity
    </h1>

    <form class="form" action="fair-and-open-disability" method="post">

<!--Page intro-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          These questions ask for a grade breakdown by gender of the number of individuals through external fair and open recruitment.
          <br /><br />
          The totals of questions <strong>14</strong> to <strong>16</strong> must equal the total of question 10.
        </label>
      </div>

      <div class="govuk-inset-text">
        In question 9, you reported <strong>XX</strong> people recruited through fair and open competition.
        <br /><br />
        Please provide a grade breakdown of these <strong>XX</strong> people here.
        <br /><br />
        The total of this question should equal <strong>XX</strong>.
      </div>

<!--Question White-->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="event-name">
          Please provide a breakdown of total recruitment of individuals with white ethnicity by grade (fair and open)
        </label>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            White at SCS 2 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            White at SCS 1 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            White at Grade 6 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            White at Grade 7 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            White at SEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            White at HEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            White at EO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            White at AO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            White at AA (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="event-name">
            Total
          </label>
          <input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text">
        </div>

      </div>

<!--Question Ethnic minority-->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="event-name">
          Please provide a breakdown of total individuals recruited who did not disclose/could not be reported by their gender by grade (fair and open)
        </label>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Ethnic minority at SCS 2 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Ethnic minority at SCS 1 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Ethnic minority at Grade 6 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Ethnic minority at Grade 7 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Ethnic minority at SEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Ethnic minority at HEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Ethnic minority at EO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Ethnic minority at AO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Ethnic minority at AA (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="event-name">
            Total
          </label>
          <input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text">
        </div>

      </div>

<!--Question Did not disclose/ unknown-->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="event-name">
          Please provide a breakdown of total individuals recruited who did not disclose/could not be reported by their gender by grade (fair and open)
        </label>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Did not disclose/ unknown at SCS 2 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Did not disclose/ unknown at SCS 1 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Did not disclose/ unknown at Grade 6 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Did not disclose/ unknown at Grade 7 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Did not disclose/ unknown at SEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Did not disclose/ unknown at HEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Did not disclose/ unknown at EO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Did not disclose/ unknown at AO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Did not disclose/ unknown at AA (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="event-name">
            Total
          </label>
          <input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text">
        </div>

      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
