{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--pink">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a full service. It is not production code and you might experience problems.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      Fair and open gender
    </h1>

    <form class="form" action="fair-and-open-ethnicity" method="post">

<!--Page intro-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          These questions ask for a grade breakdown by gender of the number of individuals through external fair and open recruitment.
          <br /><br />
          The totals of questions <strong>11</strong> to <strong>13</strong> must equal the total of question 10.
        </label>
      </div>

      <div class="govuk-inset-text">
        In question 9, you reported <strong>XX</strong> people recruited through fair and open competition.
        <br /><br />
        Please provide a grade breakdown of these <strong>XX</strong> people here.
        <br /><br />
        The total of this question should equal <strong>XX</strong>.
      </div>

<!--Question Males-->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="event-name">
          Please provide a breakdown of total male (fair and open) recruitment by grade
        </label>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Males at SCS 2 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_male_scs2" name="gender_male_scs2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Males at SCS 1 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_male_scs1" name="gender_male_scs1" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Males at Grade 6 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_male_grade6" name="gender_male_grade6" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Males at Grade 7 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_male_grade7" name="gender_male_grade7" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Males at SEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_male_seo" name="gender_male_seo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Males at HEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_male_heo" name="gender_male_heo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Males at EO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_male_eo" name="gender_male_eo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Males at AO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_male_ao" name="gender_male_ao" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Males at AA (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_male_aa" name="gender_male_aa" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="event-name">
            Total
          </label>
          <input class="govuk-input govuk-input--width-3" id="gender_male_total" name="gender_male_total" type="text">
        </div>

      </div>

<!--Question Females-->
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--m" for="event-name">
        Please provide a breakdown of total female (fair and open) recruitment by grade
      </label>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-2">
          Females at SCS 2 (or equivalent) and above
        </label>
        <input class="govuk-input govuk-input--width-2" id="gender_female_scs2" name="gender_female_scs2" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-2">
          Females at SCS 1 (or equivalent) and above
        </label>
        <input class="govuk-input govuk-input--width-2" id="gender_female_scs1" name="gender_female_scs1" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-2">
          Females at Grade 6 (or equivalent) and above
        </label>
        <input class="govuk-input govuk-input--width-2" id="gender_female_grade6" name="gender_female_grade6" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-2">
          Females at Grade 7 (or equivalent) and above
        </label>
        <input class="govuk-input govuk-input--width-2" id="gender_female_grade7" name="gender_female_grade7" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-2">
          Females at SEO (or equivalent) and above
        </label>
        <input class="govuk-input govuk-input--width-2" id="gender_female_seo" name="gender_female_seo" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-2">
          Females at HEO (or equivalent) and above
        </label>
        <input class="govuk-input govuk-input--width-2" id="gender_female_heo" name="gender_female_heo" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-2">
          Females at EO (or equivalent) and above
        </label>
        <input class="govuk-input govuk-input--width-2" id="gender_female_eo" name="gender_female_eo" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-2">
          Females at AO (or equivalent) and above
        </label>
        <input class="govuk-input govuk-input--width-2" id="gender_female_ao" name="gender_female_ao" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-2">
          Females at AA (or equivalent) and above
        </label>
        <input class="govuk-input govuk-input--width-2" id="gender_female_aa" name="gender_female_aa" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="event-name">
          Total
        </label>
        <input class="govuk-input govuk-input--width-3" id="gender_female_total" name="gender_female_total" type="text">
      </div>

    </div>

<!--Question Did not disclose/ unknown-->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="event-name">
          Please provide a breakdown of total individuals recruited who did not disclose/could not be reported by their gender by grade (fair and open)
        </label>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Did not disclose/ unknown at SCS 2 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_notDisclosed_scs2" name="gender_notDisclosed_scs2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Did not disclose/ unknown at SCS 1 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_notDisclosed_scs1" name="gender_notDisclosed_scs1" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Did not disclose/ unknown at Grade 6 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_notDisclosed_grade6" name="gender_notDisclosed_grade6" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Did not disclose/ unknown at Grade 7 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_notDisclosed_grade7" name="gender_notDisclosed_grade7" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Did not disclose/ unknown at SEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_notDisclosed_seo" name="gender_notDisclosed_seo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Did not disclose/ unknown at HEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_notDisclosed_heo" name="gender_notDisclosed_heo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Did not disclose/ unknown at EO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_notDisclosed_eo" name="gender_notDisclosed_eo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Did not disclose/ unknown at AO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_notDisclosed_ao" name="gender_notDisclosed_ao" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Did not disclose/ unknown at AA (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_notDisclosed_aa" name="gender_notDisclosed_aa" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="event-name">
            Total
          </label>
          <input class="govuk-input govuk-input--width-3" id="gender_notDisclosed_total" name="gender_notDisclosed_total" type="text">
        </div>

      </div>

<!--Question Self described-->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="event-name">
          Please provide a breakdown of total individuals recruited who identified as self described by grade (fair and open)
        </label>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Self described at SCS 2 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_selfDescribed_scs2" name="gender_selfDescribed_scs2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Self described at SCS 1 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_selfDescribed_scs1" name="gender_selfDescribed_scs1" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Self described at Grade 6 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_selfDescribed_grade6" name="gender_selfDescribed_grade6" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Self described at Grade 7 (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_selfDescribed_grade7" name="gender_selfDescribed_grade7" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Self described at SEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_selfDescribed_seo" name="gender_selfDescribed_seo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Self described at HEO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_selfDescribed_heo" name="gender_selfDescribed_heo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Self described at EO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_selfDescribed_eo" name="gender_selfDescribed_eo" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Self described at AO (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_selfDescribed_ao" name="gender_selfDescribed_ao" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-2">
            Self described at AA (or equivalent) and above
          </label>
          <input class="govuk-input govuk-input--width-2" id="gender_selfDescribed_aa" name="gender_selfDescribed_aa" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="event-name">
            Total
          </label>
          <input class="govuk-input govuk-input--width-3" id="gender_selfDescribed_total" name="gender_selfDescribed_total" type="text">
        </div>

      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
